header {
    background: $black;
    color: $white;
    position: relative;
    @extend %rowPadd;
}

header h1, header h2 {
    margin: 0;
}

header .icon {
    background: url('/img/logo.png') no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

header .nav-container {
    padding-top: .5em;
    padding-bottom: .5em;
}

header .logo-container {
    float: left;
}

header nav {
    margin-top: 5px;
    float: right;

    span {
        //cursor: default;
    }

    .sublist {
        display: none;
        background: $black;
        border: 1px solid $white;
        position: absolute;
        z-index: 2;
    }

    .list {
        &:hover .sublist {
            display: block;
        }
    }

    .sublist li {
        padding: 5px;
    }
}

header a {
    color: $white;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

header .button-logout {
    //background: 0;
    //border: 0;
    width: 100%;
    color: $black;
    //text-align: left;
}