header {
	background: $black;
	color: $white;
	@extend %rowPadd;
}

header h1, header h2 {
	margin: 0;
}

header .icon {
	background: url('/img/logo.png') no-repeat;
	background-size: contain;
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

header .nav-container {
	padding-top: .5em;
	padding-bottom: .5em;
}

header .logo-container {
	float: left;
}

header nav {
    margin-top: 5px;
	float: right;

	span {
		//cursor: default;
	}

	.sublist {
		display: none;
		position: absolute;
		background: $black;
		border: 1px solid $white;
	}

	.list:hover .sublist {
		display: block;
	}
}

header a {
	color: $white;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

header .button-logout {
	background: 0;
	border: 0;
}