table tr > * {
	border: 1px solid #CCC;
	padding: 5px;
}

.user-avatar {
	margin-right: 5px;
}

.reaction-anchor {
    display: inline-block;
    margin-top: .125rem;
    margin-bottom: .125rem;
    background: #fff;
    border: 1px solid #E8E8E8;
    margin-right: .25rem!important;
    border-radius: .3125rem;
    padding-top: .0625rem;
    padding-bottom: .0625rem;
    padding-left: .1875rem;
    padding-right: .1875rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    /*height: 1.4rem;*/
    line-height: 1.4375rem;

    /*border: 1px solid;*/
    /*padding-top: .0625rem;*/
    /*padding-bottom: .0625rem;*/
    /*padding-left: .1875rem;*/
    /*padding-right: .1875rem;*/
    /*border-color: rgba(79,176,252,.4)!important;*/
    /*background-color: rgba(79,176,252,.08);*/
}

.reaction-anchor .reaction-img {
	line-height: 1.25rem;
    font-size: 1rem;
	width: 32px;
	height: 32px;
    text-indent: 0 !important;
    vertical-align: baseline;
    overflow: hidden;
	text-align: left;
	background-size: contain;
	background-repeat: no-repeat;
    background-position: 50% 50%;
	display: inline-block;

}

.reaction-anchor:hover {
	text-decoration: none;
    border-color: #4fb0fc;
}

.reaction-count {
	/*font-size: .6875rem;*/
    font-family: helvetica, arial, sans-serif;
    position: relative;
    top: -9px;
    padding: 0 1px 0 3px;
    color: #959595;
}