.header-main-container {
    padding-bottom: 20px;
}

main {
    overflow: hidden;
}

main > .u-outerContainer > * {
    @extend %rowPadd;
}

main > .u-outerContainer > h3 {
    margin-bottom: 15px;
}

main > .u-outerContainer > h3, main > .u-outerContainer > div {
    text-align: center;
}

table {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

table tr > * {
    border: 1px solid $mid-gray;
    padding: 5px;
    vertical-align: middle;
    background: $tad-grayer-than-white;
}

table tr > th {
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    background: $white;
    border-color: $dark-gray;
}

.nosort {
    cursor: default;
}

.table-cell-reaction-list {
    max-width: 0;
    width: 40%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;

    &--left-shadow {
        &::before {
            position: absolute;
            content: '';
            width: 0;
            top: 0;
            height: 100%;
            left: 0;
            box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.25)
        }
    }

    &--right-shadow {
        &::after {
            position: absolute;
            content: '';
            width: 0;
            top: 0;
            height: 100%;
            right: 0;
            box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.25)
        }
    }

}

.table-cell-reaction-list > div {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.table-cell-total-reaction-count,
.table-cell-percentage-reaction-count {
    width: 20%;
}

.user-avatar {
    margin-right: 5px;
    box-shadow: 0 0 1px $off-white;
}

.reaction-anchor {
    display: inline-block;
    margin-top: .125rem;
    margin-bottom: .125rem;
    background: $white;
    border: 1px solid $off-white;
    margin-right: .25rem !important;
    border-radius: .3125rem;
    padding-top: .0625rem;
    padding-bottom: .0625rem;
    padding-left: .1875rem;
    padding-right: .1875rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    /*height: 1.4rem;*/
    line-height: 1.4375rem;

    /*border: 1px solid;*/
    /*padding-top: .0625rem;*/
    /*padding-bottom: .0625rem;*/
    /*padding-left: .1875rem;*/
    /*padding-right: .1875rem;*/
    /*border-color: rgba(79,176,252,.4)!important;*/
    /*background-color: rgba(79,176,252,.08);*/
}

.reaction-anchor .reaction-img {
    line-height: 1.25rem;
    font-size: 1rem;
    width: 32px;
    height: 32px;
    text-indent: 0 !important;
    vertical-align: baseline;
    overflow: hidden;
    text-align: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;

}

.reaction-anchor:hover {
    text-decoration: none;
    border-color: $dark-sky-blue;
}

.reaction-count {
    /*font-size: .6875rem;*/
    font-family: helvetica, arial, sans-serif;
    position: relative;
    top: -9px;
    padding: 0 1px 0 3px;
    color: $darkest-gray;
}
